<p>login works!</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" id="profileForm" >
  
    <label>
      First Name:
      <input type="text" formControlName="firstName"  required minlength="5">
    </label>
  
    <label>
      Last Name:
      <input type="email" formControlName="lastName" >
    </label>

    
      <div formGroupName="address">
        <label>
            Street:
            <input type="text" formControlName="street" required>
          </label>
          <label>
            City:
            <input type="text" formControlName="city">
          </label>
          <label>
            State:
            <input type="text" formControlName="state">
          </label>
          <label>
            Zip Code:
            <input type="text" formControlName="zip">
          </label>
      </div>

         <label >
             Submit:
             <input type="submit" placeholder="submit" form="profileForm" [disabled]="profileForm.status === 'INVALID'">
             <button type="submit" placeholder="submit" form="profileForm" [disabled]="profileForm.status === 'INVALID'">Submit</button>
         </label>
    
  
  </form>
 
  <p>
    Form Status: {{ profileForm.status }}
  </p>

<div *ngIf="conditionNotLogin" [disabled]="!profileForm.valid">
    Введіть правильний логін
</div>
<p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>