<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="/heroes" routerLinkActive="active">First Component</a></li>
    <li><a routerLink="/heroes/2" routerLinkActive="active">Second Component</a></li>
  </ul>
</nav>
<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<a routerLink="/admin" routerLinkActive="active">Admin</a>
<button routerLink="">Home</button>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

